*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    --favorite-color: green;
    --secondary-color: rgb(0, 204, 255);
    --title-color: rgb(0, 204, 255);
    --hover-color: orange;
    --text-color: yellow;
    
}

body {
    color: var(--favorite-color);
    font-family: Helvetica, Arial, sans-serif;
    
}

/* Header Start */

header {
    padding: 15px 30px;
    background-image: url("../images/image01.jpg");
    background-position: top;
    background-color: var(--favorite-color);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

header h1 {
    font-weight: bold;
    font-size: 32px;
    
}

header h1 a {
    color: black;
    background-color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    color: black;
    background-color: white;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    border-radius: 15px;
    text-shadow: none;
}

header nav ul li a:hover {
    background: var(--hover-color);
    color: var(--favorite-color);
}

/* -- Header End -- */


.section-title {
    color: var(--hover-color);
    width: 80%;
    font-size: 35px;
    margin: 0 auto;
}

.border1 {
    border-bottom: solid rgb(10, 10, 10) 10px;
    margin: 0 30px;
    padding: 25px;
    width: 80%;
    block-size: 700px 500px;
}

section {
    padding: 30px 15px;
    
}

/* Footer Start */

.projects {
   /* padding: 35px 40px;*/
   /* background-color: var(--favorite-color); */
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 25px;
    margin: 25px ;
    align-items: center;
    
}

footer p {
    color: var(--secondary-color);
    text-align: left;
    justify-content: space-between;
}

.contact-info h3 {
    color: black;
    font-weight: bolder;
}

.hero {
    background-image: url("../images/image01.jpg");
    background-size: cover;
    background-color: rgba();
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    min-height: 600px;
    
}

.hero h3 {
    color: var(--hover-color);
    font-size: 55px;
    text-align: center;
      
}



/* About me */

.start p {
    color: var(--favorite-color);
    padding: 25px;
    position: right;
    
}

.start h2 {
    position: left;
}

.projects h2 {
    /* background-color: purple; */
    position: left;
}

.project-titles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--hover-color);
    font-size: 20px;
    font-style: unset;

    margin: 10px;
     
}


.chess:hover{
    color: var(--favorite-color);
    font-size: 30px;

    
}

.risk:hover{
    color: var(--favorite-color);
    font-size: 30px;
}

.text-adventure:hover {
    color: var(--favorite-color);
    font-size: 25px;
}

.projects img {
    border: solid black;
    max-height: 300px;
    min-width: 500px;
}

.projects img:hover {
    border: solid var(--favorite-color) 5px;
    min-width: 600px;
    min-height: 400px;
    

}




/* Media Query for smaller Desktop Screens and smaller */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
    }

    .hero h3 {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px){
    section {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 575px){

}