*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    --favorite-color: green;
    --secondary-color: rgb(0, 204, 255);
    --title-color: rgb(0, 204, 255);
    --hover-color: orange;
    --text-color: yellow;
    
}

body {
    color: var(--favorite-color);
    font-family: Helvetica, Arial, sans-serif;
    
}

/* Header Start */

header {
    padding: 15px 30px;
    background-image: url("../images/image01.jpg");
    background-position: top;
    background-color: var(--favorite-color);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
    

}

header h1 {
    font-weight: bold;
    font-size: 32px;
    
}

header h1 a {
    color: black;
  
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: black;
   
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    border-radius: 15px;
    text-shadow: none;
}

header nav ul li a:hover {
    background: var(--hover-color);
    color: var(--favorite-color);
}

/* -- Header End -- */


.section-title {
    color: var(--hover-color);
    width: 80%;
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid rgb(10, 10, 10) 5px;
}

.border1 {
    margin-left: 170px;
    padding: 25px;
    width: 80%;
   
}

section {
    padding: 30px 15px;
    
}

/* Footer Start */

.projects {
   /* padding: 35px 40px;*/
   /* background-color: var(--favorite-color); */
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 25px;
    margin: 25px ;
    align-items: center;
    
    
}

footer p {
    color: black;
    text-align: left;
    justify-content: space-between;
    font-size: 20px;
}

.contact-info h3 {
    color: black;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 10px;
}

.hero {
    background-image: url("../images/image01.jpg");
    background-size: cover;
    background-color: rgba();
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    min-height: 600px;
    
}

.hero h3 {
    color: darkorange;
    font-weight: bolder;
    font-size: 72px;
    text-align: bottom;
    margin-top: 200px;
      
}



/* About me */

.about p {
    color: var(--favorite-color);
    padding: 25px;
    margin-right: 100px;
    
    
    
}

.about h2 {
    position: left;
}

.projects h2 {
    /* background-color: purple; */
    position: left;
}

.project-titles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--hover-color);
    font-size: 20px;
    font-style: unset;
     
}


.chess:hover{
    color: var(--favorite-color);
    font-size: 30px;

    
}

.risk:hover{
    color: var(--favorite-color);
    font-size: 30px;
}

.text-adventure:hover {
    color: var(--favorite-color);
    font-size: 25px;
}

.projects img {
    border: solid black;
    max-height: 300px;
    min-width: 500px;
}

.projects img:hover {
    border: solid var(--favorite-color) 5px;
    min-width: 600px;
    min-height: 400px;
    

}




/* Media Query for smaller Desktop Screens and smaller */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
    }

    header h1 {
        font-size: 24px;
    }

    .hero h3 {
        font-size: 45px;
    }

    .border1 {
        margin-left: 100px;
    }
    
}

@media screen and (max-width: 768px){
    section {
        padding: 10px 15px;
    }

    .border1 {
        margin-left: 80px;
    }

    .hero h3 {
        font-size: 35px;
    }

}

@media screen and (max-width: 575px){

    .border1 {
        margin-left: 30px;
    }

    .projects img {
        max-width: 70%;
        max-height: 70%;
        
        
    }

    .project-titles:hover {
        padding: 20px;
    }

    .projects img:hover {
       
        min-width: 95%;
        min-Height: 95%;
        
    }

    header nav ul li a{
        font-size: 15px;
    }



}